<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h1>Edit comment:</h1>
    <form  method="post" action= <%= `/comment/${editComment.id}?_method=PATCH` %> >
        <textarea name="comment" id="comment" cols="30" rows="5"><%= `${editComment.comment}`%></textarea>
        <button>done</button>
    </form>
</body>
</html>