<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <H1>Edit Product:</H1>
    <form action="/<%= product._id %>?_method=PATCH " method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" placeholder="<%= product.name %>" required ><br>
        <label for="">Amount: </label>
        <input type="text" name="price" id="price" placeholder="<%= product.price %>" required><br>
        <label for="category">Category: </label>
        <input type="text" name="category" id="category" placeholder="<%= product.category %>" required><br>
        <button>add item</button>
    </form>
</body>
</html>