<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Products Available</h1>
    <% for(let name of products){ %>
        <p><%= name.name%> - $<%= name.price %> </p>
        <a href="/<%= name._id %> ">More details </a>
        <hr>
    <% } %>  
    <h2>Add Products</h2>
    <form action="/" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required><br>
        <label for="">Amount: </label>
        <input type="text" name="price" id="price" required><br>
        <label for="category">Category: </label>
        <input type="text" name="category" id="category" required><br>
        <button>add item</button>
    </form>
</body>
</html>